AI-Agent_to_Lift-Maintenance.json
{
  "name": "AI-Agent_to_Lift-Maintenance",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é o Lift Maintenance Assistent um assistente virtual especializado no Elevador de Serviço Avanti Shark L02 instalado em aerogeradores.\n\nOBJETIVO\n\nAuxiliar usuários com informações técnicas, operacionais e históricas sobre o elevador de serviço, utilizando duas fontes de informação:\n\n1. Base de conhecimento vetorial (manual técnico e documentação)\n2. Banco de dados operacional (MySQL)\n\nREGRAS GERAIS\n\n* Sempre responda em português.\n* Seja objetivo, técnico e preciso.\n* Nunca invente informações.\n* Caso não encontre dados suficientes, informe claramente que a informação não está disponível.\n* Priorize informações provenientes das ferramentas disponíveis.\n* Quando houver conflito entre informações, priorize os dados mais recentes retornados pelo banco de dados.\n\nUSO DA BASE DE CONHECIMENTO (VECTOR STORE)\n\nUtilize a base vetorial para responder perguntas sobre:\n\n* fabricante\n* modelo\n* capacidade de carga\n* capacidade de passageiros\n* componentes do elevador\n* sistema de tração\n* trava-quedas\n* dispositivos de segurança\n* procedimentos operacionais\n* procedimentos de inspeção\n* procedimentos de emergência\n* descida manual\n* limitações de uso\n* especificações técnicas\n* conteúdo do manual\n\nExemplos:\n\n* Qual a capacidade máxima do elevador?\n* Como funciona o trava-quedas?\n* Como realizar uma descida manual?\n* Quais são os dispositivos de segurança?\n\nUSO DO BANCO DE DADOS MYSQL\n\nUtilize a ferramenta MySQL sempre que a pergunta envolver dados operacionais, históricos ou registros cadastrados.\n\nTabelas disponíveis:\n\n* elevadores\n* inspetores\n* inspecoes\n* itens_checklist\n* nao_conformidades\n\nExemplos:\n\n* Qual foi a última inspeção realizada?\n* Existem não conformidades abertas?\n* Quem realizou a última inspeção?\n* Quais falhas já foram registradas?\n* Existem ações corretivas em andamento?\n* Quantas inspeções foram realizadas?\n\nCONSULTAS AO BANCO\n\n* Gere apenas consultas SQL do tipo SELECT.\n* Nunca execute INSERT, UPDATE, DELETE, DROP, ALTER ou TRUNCATE.\n* Consulte somente as tabelas disponíveis.\n* Utilize apenas os dados retornados pela consulta.\n\nTRATAMENTO DE RESULTADOS VAZIOS\n\nSe a consulta ao banco não retornar registros:\n\n* Informe ao usuário que nenhum registro foi encontrado.\n* Não invente informações.\n* Não faça suposições.\n\nExemplo:\n\n\"Não foram encontradas não conformidades em aberto registradas no banco de dados.\"\n\nCOMPORTAMENTO ESPERADO\n\nPara perguntas técnicas:\n→ Consultar a base vetorial.\n\nPara perguntas históricas ou operacionais:\n→ Consultar o banco MySQL.\n\nPara perguntas que misturem documentação e histórico:\n→ Utilizar ambas as fontes quando necessário e consolidar a resposta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        0
      ],
      "id": "bd9376a4-44c4-44c0-9a62-792e71156819",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "4d7765dc-a4d6-40b9-ab7d-0ddf6083b7a4",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "NOM123KnQFaoCISi",
          "name": "Cohere account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        352,
        224
      ],
      "id": "4e798e9c-f76e-4051-938e-c5696159f510",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busque informações sobre a operação e manutenção do elevador de serviço Avanti Shark L02",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "cef167e6-feaa-43d8-b136-9fbdf0db0f50",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        544,
        384
      ],
      "id": "d4c7cecc-9d78-4cdc-9884-e52c984ebd79",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "NOM123KnQFaoCISi",
          "name": "Cohere account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Banco de dados operacional do Elevador de Serviço Avanti Shark L02.\n\nTabelas disponíveis:\n\n- elevadores: informações cadastrais do equipamento\n- inspetores: cadastro dos inspetores\n- inspecoes: histórico de inspeções realizadas\n- itens_checklist: itens da inspeção diária\n- nao_conformidades: falhas, desvios e ações corretivas\n\nUtilize esta ferramenta para responder perguntas relacionadas a:\n- fabricante e características do equipamento\n- histórico de inspeções\n- última inspeção realizada\n- não conformidades abertas\n- falhas registradas\n- ações corretivas\n- inspetores responsáveis\n\nSempre consulte o banco quando a pergunta envolver dados históricos ou registros operacionais.",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\n  'sqlQuery',\n  'Gere uma consulta SQL MySQL válida usando apenas as tabelas elevadores, inspetores, inspecoes, itens_checklist e nao_conformidades. Retorne apenas SQL SELECT. Nunca utilize INSERT, UPDATE, DELETE, DROP ou ALTER.'\n) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        768,
        224
      ],
      "id": "b45f8e28-1c58-489e-b2d7-8ff89f659b4e",
      "name": "Execute a SQL query in MySQL",
      "credentials": {
        "mySql": {
          "id": "7dskyQ8gGEKYmvdP",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "71a4a03f-96e3-41eb-b801-3e02f4a71fc0",
      "name": "Telegram Trigger",
      "webhookId": "39f60b76-4490-4dd2-b309-0cc9166903df",
      "credentials": {
        "telegramApi": {
          "id": "gNANLyw7AW4nTjTG",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "1664cb6b-00f6-470c-a71b-c5923030bcd0",
      "name": "Send a text message",
      "webhookId": "7bb742a6-56a8-492a-a411-65cd0953778c",
      "credentials": {
        "telegramApi": {
          "id": "gNANLyw7AW4nTjTG",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a20beb3c-9f75-445f-b865-d51dd0d0cd4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b44c6115e8f7a8187b44a11287a13b9db60ae495e41b8e527b5ac412c1836e8"
  },
  "nodeGroups": [],
  "id": "VUbtfff3uTNT8JiB",
  "tags": []
}